services:
  postgres:
    image: postgres:17-alpine
    container_name: mediclick-db
    restart: unless-stopped
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: mediclick
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: mediclick
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: mediclick-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
